<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nugik.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <permission
        android:name="com.example.mapexdemo.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true"
        android:icon="@mipmap/launcherbiru"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
        <activity android:name=".MapsActivity"
            android:theme="@style/DokterPage">

        </activity>
        <activity
            android:name=".DetailActivityMenu.Dokter.ChatDokter"
            android:theme="@style/DokterPage"
            />

        <activity
            android:name=".Splash"
            android:theme="@style/SplashPage"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogRegister.MainActivity"
            android:theme="@style/LoginPage"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LogRegister.Main2Activity"
            android:theme="@style/RegisterPage"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FragmentMenuLayanan.HomeActivity"
            android:theme="@style/DokterPage" />
        <activity
            android:name=".DetailActivityMenu.Dokter.DokterActivity"
            android:theme="@style/DokterPage" />
        <activity
            android:name=".DetailActivityMenu.Bidan.BidanActivity"
            android:theme="@style/DokterPage" />
        <activity
            android:name=".DetailActivityMenu.Perawat.PerawatActivity"
            android:theme="@style/DokterPage" />
        <activity
            android:name=".DetailActivityMenu.Ambulance.AmbulanceActivity"
            android:theme="@style/DokterPage" />
        <activity
            android:name=".DetailActivityMenu.Klinik.KlinikActivity"
            android:theme="@style/DokterPage" />
        <activity
            android:name=".DetailActivityMenu.Ambulance.AmbulanceMapsActivity"
            android:theme="@style/DokterPage" />
        <activity
            android:name=".DetailActivityMenu.Klinik.KlinikMapsActivity"
            android:theme="@style/DokterPage" />
        <activity
            android:name=".DetailActivityMenu.Ambulance.PesanAmbulance"
            android:theme="@style/DokterPage" />
        <activity
            android:name=".DetailActivityMenu.Dokter.PesanDokter"
            android:theme="@style/DokterPage" />
        <activity
            android:name=".DetailActivityMenu.Bidan.PesanBidan"
            android:theme="@style/DokterPage" />
        <activity
            android:name=".DetailActivityMenu.Perawat.PesanPerawat"
            android:theme="@style/DokterPage" />
        <activity
            android:name=".FragmentMenuLayanan.FragmentHistoryDetail.DetailRiwayatChat.DetailRiwayatChat"
            android:theme="@style/DokterPage" />
        <activity
            android:name=".FragmentMenuLayanan.FragmentHistoryDetail.DetailRiwayatMenu.DetailRiwayatMenu"
            android:theme="@style/DokterPage" />
        <activity android:name=".FragmentMenuLayanan.FragmentHistoryDetail.DetailRiwayatMenu.TabLayoutDetailMenu.DetailMenuAmbulance" />
        <activity
            android:name=".FragmentMenuLayanan.DetailArtikel"
            android:theme="@style/DokterPage" />

    </application>

</manifest>